h1{
  text-align: center;
}

header{
  display: flex;
  justify-content: center;
  align-items: center; /*alinha na vertical*/

}


.top{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 900px;
  height: 150px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.atributos{
  text-align: center;
}

.bio{
  text-align: center;
}

.imagem img{
  width: 75%;
}

.vdv {
  display: flex;
  text-align: center;
}

.vdv div{
  margin: 15px;
}

.alaeu {
  display: flex;
  justify-content: center;
}

.alaeu div{
  margin: 25px;
}

